@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 p-0 box-border;
  }
  body {
    @apply text-base font-normal text-light;
  }
  a,
  a:focus,
  a:visited {
    @apply text-inherit;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-dark font-sans;
  }
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-2xl;
  }
  h5 {
    @apply text-xl;
  }
  h6 {
    @apply text-lg;
  }
  strong {
    @apply font-bold;
  }
}

@layer utilities {
  .container {
    @apply max-w-[1380px] mx-auto px-4;
  }
  .btn,
  a.btn {
    @apply text-base bg-primary rounded-lg px-5 py-3 text-white min-w-[160px] text-center;
  }
  .btn-black,
  a.btn-black {
    @apply bg-black text-white;
  }
  .styled-underline {
    @apply relative;
  }
  .styled-underline::after {
    content: "";
    background-image: url("../appAssets/images/shapes/styled-underline.svg");
    @apply absolute left-0 top-auto -bottom-2 w-full h-4 bg-contain bg-center bg-no-repeat;
  }
}
