.serviceCard {
	width: 380px;
	max-width: 100%;
}
.viewButonStyle:hover {
	background-color: #ff9f26;
}
.title1 {
	position: relative;
	display: inline-block;
	justify-items: center;
	text-align: center;
	width: 100%;
}
.title1::before {
	content: "";
	position: absolute;
	color: #222f3e;
	bottom: -11px;
	width: 30px;
	height: 3px;
	background: #ff9f26;
	left: 45%;
}
@media only screen and (min-width: 992px) {
	.description {
		min-height: 195px;
	}
}
